// 共通cssクラス

// flexで中央寄せ
.flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
// Font
.text-head-1 {
    font-family: 'Futura PT Bold';
    font-size: 5.2rem;
}
.text-head-2 {
    font-family: 'Futura PT Bold';
    font-size: 3.8rem;
}
.text-head-3 {
    font-family: 'Futura PT Bold';
    font-size: 1.6rem;
}
.text-body-1 {
    font-family: 'Futura PT Medium';
    font-size: 1.8rem;
}
.text-body-2 {
    font-family: 'Futura PT Medium';
    font-size: 1.6rem;
}
.text-body-3 {
    font-family: 'Futura PT Medium';
    font-size: 1.4rem;
}
