// 共通のCSS変数

// フォント
$default-font-family:  'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
$default-font-size: 1.6rem;
$default-font-weight: 700;

// カラー
$color-text-accent: #FFF;
$color-text-main: #D0D0D0;
$color-text-sub: #939393;

$color-border: #939393;
$color-background: #000;

// ディレクトリ
$img-dir: '/img/';
$svg-dir: '/svg/';

//ブレイクポイント
$break-point-list: 559px, 959px, 960px;
$mq: (
  'sp': 'screen and (max-width: #{nth($break-point-list, 1)})',
  'tab': 'screen and (max-width: #{nth($break-point-list, 2)})',
  'pc': 'print,screen and (min-width: #{nth($break-point-list, 3)})'
) !default;
